body{
  background-color:gray;
  color:white;
  text-align:center;
}
.big-boy{
  text-align:center;
  font-size:70px;
  border-left: 70px dotted black;
  border-right: 70px dotted black;
  margin:50px;
  list-style-position:inside;
}
.shift{
  transition: .5
}
